<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="10"/>
    </bean>

    <bean id="muiltRedisPool" class="com.didapinche.commons.redis.MatrixRedisPool">
        <property name="jedisPoolConfig" ref="jedisPoolConfig"></property>
        <!--<property name="masterShards">-->
            <!--<map>-->
                <!--<entry key="master1">-->
                    <!--<bean class="redis.clients.jedis.JedisShardInfo">-->
                        <!--<constructor-arg name="host" value="127.0.0.1"></constructor-arg>-->
                        <!--<constructor-arg name="port" value="6379"></constructor-arg>-->
                    <!--</bean>-->
                <!--</entry>-->
                <!--<entry key="master1">-->
                    <!--<bean class="redis.clients.jedis.JedisShardInfo">-->
                        <!--<constructor-arg name="host" value="127.0.0.1"></constructor-arg>-->
                        <!--<constructor-arg name="port" value="7379"></constructor-arg>-->
                    <!--</bean>-->
                <!--</entry>-->
            <!--</map>-->
        <!--</property>-->

        <!--<property name="multiSlaveShards">-->
            <!--<map>-->
                <!--<entry key="master1">-->
                    <!--<list>-->
                        <!--<bean class="redis.clients.jedis.JedisShardInfo">-->
                            <!--<constructor-arg name="host" value="127.0.0.1"></constructor-arg>-->
                            <!--<constructor-arg name="port" value="6380"></constructor-arg>-->
                        <!--</bean>-->
                        <!--<bean class="redis.clients.jedis.JedisShardInfo">-->
                            <!--<constructor-arg name="host" value="127.0.0.1"></constructor-arg>-->
                            <!--<constructor-arg name="port" value="6381"></constructor-arg>-->
                        <!--</bean>-->
                    <!--</list>-->
                <!--</entry>-->

                <!--<entry key="master2">-->
                    <!--<list>-->
                        <!--<bean class="redis.clients.jedis.JedisShardInfo">-->
                            <!--<constructor-arg name="host" value="127.0.0.1"></constructor-arg>-->
                            <!--<constructor-arg name="port" value="7380"></constructor-arg>-->
                        <!--</bean>-->
                        <!--<bean class="redis.clients.jedis.JedisShardInfo">-->
                            <!--<constructor-arg name="host" value="127.0.0.1"></constructor-arg>-->
                            <!--<constructor-arg name="port" value="7381"></constructor-arg>-->
                        <!--</bean>-->
                    <!--</list>-->
                <!--</entry>-->

            <!--</map>-->
        <!--</property>-->
    </bean>

    <bean id="matrixRedisClient" class="com.didapinche.commons.redis.MatrixRedisClient">
        <property name="redisPool" ref="muiltRedisPool"></property>
    </bean>

    <bean id ="sentinelsManager" class="com.didapinche.commons.redis.sentinel.SentinelsManager">
        <property name="reidsPool" ref="muiltRedisPool"></property>
        <property name="sentinelInfo">
            <bean class="com.didapinche.commons.redis.sentinel.SentinelInfo">
                <property name="masterNames" >
                    <list>
                        <value>master1</value>
                        <value>master2</value>
                    </list>
                </property>
                <property name="sentinels">
                    <set>
                        <value>127.0.0.1:26379</value>
                        <value>127.0.0.1:26380</value>
                        <value>127.0.0.1:26381</value>
                    </set>
                </property>

                <property name="weight" value="1"></property>
                <property name="password" value="" ></property>
            </bean>
        </property>
    </bean>

</beans>